{"filter":false,"title":".gitignore","tooltip":"/Thursday/complete/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":1,"column":3},"end":{"row":1,"column":15},"isBackwards":true},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1671754890228,"hash":"957833e156ad118f6715fa9a17d1b7fa0376b092"}